html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Nunito' !important;
}

nav {
    /* padding-left: 4em !important;
    padding-right: 4em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important; */

}

.nav-link {
    font-size: 1.3em;
    margin: 0.5em;
    transition-duration: 500ms;
}

.nav-link.active {
    color: rgb(30,120,162) !important;
    font-size: 1.32em !important;
    font-weight: bold !important;
}

.nav-link:hover {
    color: rgb(30,120,162) !important;
    font-weight: bold;
}

.home-message {
    height: 100vh !important;
    width: 100%;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    display: block;
    margin: 0;
    right: 0;
    bottom: 0;
    min-width: 100% !important;
    min-height: 100% !important;
    /* border-top-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 45vh 2.5vw;
    border-bottom-right-radius: 45vh 2.5vw; */
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 45vh 2.5vw;
    border-bottom-right-radius: 45vh 2.5vw; */
  }

  .message-box {
    margin-top: 3em;
  }

  .header-message-title,.header-message-body {
    /* font-weight: 200; */
    font-family: 'Raleway';
    /* margin: 0.4em 0; */
  }
  .header-message-title { 
    font-size: 2.5em; 
    height: 3em;
    font-weight: 100;
    /* margin-top: 1.5em; */
  }
  .header-message-body {
    color:rgb(2, 32, 46);
    background-color: rgba(245, 245, 245, 0.281);
    font-size: 1.75em;
    font-weight:lighter;
    text-shadow: 1px 2px 3px rgb(18, 73, 99);
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    /* margin-top: 2.5em; */
  }

  .message-box-icons{
    margin-top: 4em;
  }

  .message-icon{
    font-size: 2em;
    margin: 0.3em;
    text-decoration: none !important;
    color: white !important;

  }  

  .message-icon:hover{
    font-size: 2.05em;
    margin: 0.29em;
    color: rgb(30,120,162) !important;
    transition: 500ms;
    text-shadow: 0px 3px 6px rgb(18, 73, 99);
    text-decoration: none !important;

  }  


  .about-me {
    height: 100vh !important;
    width: 100%;
    background: rgb(30,120,162);
    margin-top: -3em;
    padding-top: 4em;
    padding-right: 2em;
    padding-left: 2em;
  }

  .about-content {
    margin-top: 4em;
    color: white;
  }

  .about-me-title{
    font-size: 4em;
    font-weight: bolder;
  }

  .divider{
    border-color: white;
  }

  .repository {
    height: 100vh !important;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 4em;
    margin-top: -2em;
  }

  .card {
    background-color: transparent !important;
    margin-top: 2em;
  }

  .card-box {
    margin-bottom: 0.75em;
  }

  .tech-icon{
    margin-right: 0.75em;
    font-size: 2em;
  }

  .laravel {
    color: rgb(255, 99, 71);
  }

  .bootstrap {
    color: rgb(138, 44, 226);
  }

  .html5 {
    color: rgb(255, 140, 0);
  }

  .css3 {
    color: rgb(30,120,162); 
  }

  .php {
    color: rgb(71, 61, 138);
  }